{# Plantilla con los servicios de la empresa #}
<div class="container center991"><!-- Seccion de Servicios -->
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <h2 class="tituloServicios">SERVICIOS</h2>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
    </div>
    <div class="row">
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{{path('ServiciosMarcas')}}" class="">
                    <div class="thumbnail thumb-shadow">
                        <img src="{{ asset('bundles/app/img/marcandur_home_0004_SERVICIOS-MARCA-HOME.png')}}" class="img-responsive" alt="Marca"/>
                        <div class="caption bg3">
                          <h3>
                            MARCAS
                          </h3>
                          <div class="wrap">
                            <p>
                                Registro de Marca, Logotipo o Slogan
                            </p>
                            <span class="btn-link fa-angle-right"></span>
                          </div>  
                        </div>
                    </div>  
                </a>
            </div>
            <div class="col-md-8 col-sm-8 col-xs-12">
                <a href="{{path('ServiciosInvenciones')}}" >
                    <div class="thumbnail thumb-shadow">
                        <img src="{{ asset('bundles/app/img/marcandur_home_0005_SERVICIOS-REGISTRO-DE-INVENCIONES--HOME.png')}}" class="img-responsive" alt="REGISTRO DE INVENCIONES">
                        <div class="caption bg3">
                        <h3>
                            REGISTRO DE INVENCIONES
                        </h3>
                        <div class="wrap">
                            <p class="thumb_ins1">
                              Patentes, Diseño industrial y Modelo de utilidad
                            </p>
                            <span class="btn-link fa-angle-right"></span>
                        </div>  
                      </div>
                    </div> 
                </a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>         
    </div>
    <div class="row wow fadeIn" data-wow-duration='2s'>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
        <div class="col-lg-10 col-md-10 col-sm-12">
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{{path('ServiciosDerechosAutor')}}" class="">
                    <div class="thumbnail thumb-shadow">
                        <img src="{{ asset('bundles/app/img/marcandur_home_0006_SERVICIOS-DERECHOS-DE-AUTOR-HOME.png')}}" class="img-responsive" alt="DERECHOS DE AUTOR">
                        <div class="caption bg3">
                            <h4>
                                DERECHOS DE AUTOR
                            </h4>
                            <div class="wrap">
                                <p>
                                  Registro de Obras
                                </p>
                              <span class="btn-link fa-angle-right"></span>
                            </div>  
                        </div>
                    </div> 
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{{path('ServiciosReservaDerechos')}}" class="">
                    <div class="thumbnail thumb-shadow">
                        <img src="{{ asset('bundles/app/img/marcandur_home_0007_SERVICIOS-RESERVAS-DE-DERECHO-HOME.png')}}" class="img-responsive" alt="RESERVAS DE DERECHO">
                        <div class="caption bg-primary">
                            <h4>
                              RESERVAS DE DERECHO
                            </h4>
                            <div class="wrap">
                                <p>
                                  Reserva de derecho al uso exclusivo
                                </p>
                                <span class="btn-link fa-angle-right"></span>
                            </div>  
                        </div>
                    </div> 
                </a>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-12">
                <a href="{{path('ServiciosMarcasInternacionales')}}" class="">
                    <div class="thumbnail thumb-shadow">
                        <img src="{{ asset('bundles/app/img/marcandur_home_0008_SERVICIOS-REGISTRO-DE-MARCAS-INTERNACIONALES.png')}}" class="img-responsive" alt="REGISTRO DE MARCAS INTERNACIONALES">
                        <div class="caption bg3">
                            <h4>
                              REGISTRO DE MARCAS INTERNACIONALES
                            </h4>
                            <div class="wrap2">
                                <span class="btn-link fa-angle-right"></span>
                            </div>  
                        </div>
                    </div>    
                </a>
            </div>
        </div>
        <div class="col-lg-1 col-md-1 col-sm-12"></div>
    </div>
</div>   <!-- Fin Seccion de Servicios --> 
