{# Plantilla de la sesion de otros servicios #}
<section class="well well2"><!-- Otros servicios -->
    <div class="container">
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <h2 class="tituloOtrosServicios2">
                    OTROS <strong>SERVICIOS</strong>
                </h2>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm"></div>
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="{{ asset('bundles/app/img/marcandur_servicios_marca.png')}}"
                                class="img-responsive imagenServicios"
                                alt="Marca">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="tituloOtrosServicios">MARCA</p>
                            <p class="textoOtrosServicios">¡Garantiza la preferencia y el reconocimiento 
                            de tus consumidores! Registra hoy mismo 
                            tu Marca, Logotipo y Slogan, que 
                            identifican a tus productos o servicios 
                            de los de tu competencia.</p>
                            <p class="flechaMas">
                                <a href="{{path('ServiciosMarcas')}}" class="btn-link l-h1 fa-angle-right"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="{{ asset('bundles/app/img/marcandur_servicios_Asesoria-Legal.png')}}" 
                                class="img-responsive imagenServicios2"
                                alt="Reserva de Derechos">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="tituloOtrosServicios">RESERVA DE DERECHOS</p>
                            <p class="textoOtrosServicios">
                            Obt&eacute;n el Derecho de Exclusividad sobre el 
                            nombre de una Publicaci&oacute;n o Difusi&oacute;n Peri&oacute;dica; 
                            de un nombre o grupo art&iacute;stico, personaje 
                            ficticio o de caracterizaci&oacute;n, as&iacute; como 
                            de los elementos originales de una promoci&oacute;n 
                            publicitaria.</p>
                            <p class="flechaMas">
                                <a href="{{ path('ServiciosReservaDerechos') }}" class="btn-link l-h1 fa-angle-right"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm"></div>           
        </div>
        <div class="row">
            <div class="col-lg-1 col-md-1 hidden-sm"></div>
            <div class="col-lg-10 col-md-10 col-sm-12">
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="{{ asset('bundles/app/img/marcandur_servicios_DERECHO DE AUTOR.png')}}"
                                class="img-responsive imagenServicios"
                                alt="Derechos de Autor">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="tituloOtrosServicios">DERECHO DE AUTOR</p>
                            <p class="textoOtrosServicios">Toda persona capaz de 
                            crear cualquier tipo de <span class="textoAzul">obra</span>, 
                            ya sea Literaria, Musical o Artística, merece el 
                            reconocimiento que la ley le concede y la 
                            exclusividad de su uso.
                            </p>
                            <p class="flechaMas">
                                <a href="{{path('ServiciosDerechosAutor')}}" class="btn-link l-h1 fa-angle-right"></a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-6 col-md-6 col-sm-12">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <img src="{{ asset('bundles/app/img/marcandur_servicios_REGISTROS-DE-MARCAS-INTERNACIONALES-.png')}}" 
                                class="img-responsive"
                                alt="Registros de Marcas internacionales">
                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6">
                            <p class="tituloOtrosServicios">REGISTROS DE MARCAS INTERNACIONALES</p>
                            <p class="textoOtrosServicios">
                                Registra tu marca en otros pa&iacute;ses desde M&eacute;xico. 
                                Nosotros te llevamos de la mano.</p>
                            <p class="flechaMas">
                                <a href="{{path('ServiciosMarcasInternacionales')}}" class="btn-link l-h1 fa-angle-right"></a>
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-lg-1 col-md-1 hidden-sm"></div>                      
        </div>
    </div>
</section><!-- Fin Otros servicios -->