{# Plantilla de la vista de servicios de derechos de autor #}
{% extends 'base.html.twig' %}
{% block stylesheets %}
    {{ parent() }}
<style>
    .btn-primary span:before {
        position: absolute;
        font-size: 32px !important;
        left: -13px;
        top: 8px !important;
      }
</style>
{% endblock %}
{% block body %}
    <div class="page">
        <!-- Encabezado -->
        {% include 'default/encabezado.html.twig' %}
        <!-- Fin de Encabezado -->
        <!-- Contenido -->
        <main>  
            <!-- Seccion Banner -->
            {% include 'servicios/bannerDerechosAutor.html.twig' %}
            <!-- Fin Banner -->
            <section class="well well2"><!-- Texto -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <p class="textoContenido">Toda persona capaz de crear cualquier tipo de 
                                <span class="textoAzul">obra</span>, ya sea Literaria, Musical o Art&iacute;stica, 
                                merece el reconocimiento que la ley le concede
                                y la exclusividad de su uso.                                    
                            </p>
                            <p class="textoContenido">Obt&eacute;n tu Registro por medio de nosotros en 
                            <span class="textoAzul">3 sencillas Fases</span>, 
                            desde la comodidad de tu casa u oficina con 
                            <span class="textoAzul">rapidez , seguridad</span>, 
                            y <span class="textoAzul">absoluta confidencialidad</span>.</p>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12 textoGris">
                            <div class="row">
                                <div class="col-lg-12 col-md-12 col-sm-12">
                                Te ofrecemos la asesor&iacute;a profesional, 
                                legal y comercial que necesitas para que tu 
                                empresa deje huella en la preferencia de tus 
                                clientes.
                                </div>
                            </div>                                
                            <div class="row">
                                <div class="col-lg-4 col-md-3 col-sm-12">                                        
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <a href="{{ path('garantia') }}">
                                    <table border="0" style="width: 100%;">
                                        <tbody class="botonGarantia">
                                            <tr>
                                                <th class="textoConoce">CONOCE NUESTRA</th>
                                                <th rowspan="2">
                                                    <span class="btn-link fa-angle-right flecha"></span>
                                                </th>
                                            </tr>
                                            <tr>
                                                <th class="textoConoce2" align="center">
                                                    GARANTIA DE SERVICIOS 
                                                </th>
                                            </tr>
                                        </tbody>
                                    </table>
                                    </a>
                                </div>  
                                <div class="col-lg-4 col-md-3 col-sm-12"></div>
                            </div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-12"></div>
                    </div>                    
                </div>        
            </section><!-- Fin Texto -->
            <section class="well well2"><!-- Fases -->
                <div class="container">
                    <div class="row">
                        <div class="col-lg-1 col-md-1 hidden-sm"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <h2>
                                FASES
                            </h2>
                        </div>
                        <div class="col-lg-1 col-md-1 hidden-sm"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                        <div class="col-lg-10 col-md-10 col-sm-10">
                            <div class="hidden-lg hidden-md col-sm-2"></div>
                            <div class="col-lg-4 col-md-4 col-sm-8"><!-- Fase 1 -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <img src="{{ asset('bundles/app/img/marcandur_servicios_0002.png')}}"
                                             class="img-responsive" alt="Env&iacute;o de la informaci&oacute;n"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p class="textoTituloFase2">Fase 1</p>
                                        <p class="textoTituloFase3">Env&iacute;o de la 
                                        informaci&oacute;n sin costo alguno</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="contenidoFaseDA1">
                                            <p class="textoFase">Contamos con un proceso 
                                            sistematizado de env&iacute;o-recepci&oacute;n, a trav&eacute;s 
                                            del cual te guiaremos para que, de una manera 
                                            ágil, sencilla y confiable, nos hagas llegar 
                                            la informaci&oacute;n y documentaci&oacute;n que requerimos 
                                            para iniciar con el proceso de Registro de 
                                            tu Obra.</p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <a href="{{ path('ServiciosDerechosAutorFase1') }}" class="btn btn-block btn-primary text-center botonMas">M&Aacute;S INFORMACI&Oacute;N <span class="fa-angle-right flechaBoton"></span></a>
                                    </div>
                                </div>
                            </div><!-- Fin Fase 1 -->                            
                            <div class="hidden-lg hidden-md col-sm-2"></div>
                            <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2"><!-- Fase 2 -->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <img src="{{ asset('bundles/app/img/marcandur_servicios_0003.png')}}"
                                             class="img-responsive" alt="Registro de obra"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p class="textoTituloFase2">Fase 2</p>
                                        <p class="textoTituloFase3">Programa De Computo</p>
                                        <p class="textoTituloFase3">$2,490.00 IVA incluido</p>
                                        <p class="textoTituloFase3">Obra que no sea programa 
                                        de computo</p>
                                        <p class="textoTituloFase3">$1,490.00 IVA incluido</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="contenidoFaseDA2">
                                            <p class="textoFase">Una vez nos hagas 
                                            llegar la documentación descrita en 
                                            la FASE 1 y nos reportes tu pago, 
                                            estaremos listos para proceder con 
                                            el Registro de tu Obra.
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <a href="{{ path('ServiciosDerechosAutorFase2') }}" class="btn btn-block btn-primary text-center botonMas">M&Aacute;S INFORMACI&Oacute;N <span class="fa-angle-right flechaBoton"></span></a>
                                    </div>
                                </div>
                            </div><!-- Fin Fase 2 -->
                            <div class="hidden-lg hidden-md col-sm-2"></div>
                            <div class="col-lg-4 col-md-4 col-md-offset-0 col-sm-8 col-sm-offset-2"><!-- Fase 3-->
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <img src="{{ asset('bundles/app/img/marcandur_servicios_0000.png')}}"
                                             class="img-responsive" alt="Certificado de registro"/>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <p class="textoTituloFase2">Fase 3</p>
                                        <p class="textoTituloFase3">Env&iacute;o de la 
                                        informaci&oacute;n sin costo alguno</p>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <div class="contenidoFaseDA3">
                                            <p class="textoFase">Al t&eacute;rmino de 20 
                                            d&iacute;as h&aacute;biles aproximadamente,
                                            te haremos llegar a tu cas u oficina el 
                                            Certificado de Registro de Obra original
                                            por mensajeria especializada, junto con 
                                            uno de los ejemplares de la Obra que nos
                                            enviaste previamente, sellado y estampado 
                                            por la autoridad.(Env&iacute;o a domicilio 
                                            sin costo en el D.F. y &Aacute;rea Metropolitana)
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <div class="row">
                                    <div class="col-lg-12 col-md-12 col-sm-12">
                                        <a href="{{ path('ServiciosDerechosAutorFase3') }}" class="btn btn-block btn-primary text-center botonMas">M&Aacute;S INFORMACI&Oacute;N <span class="fa-angle-right flechaBoton"></span></a>
                                    </div>
                                </div>
                            </div><!-- Fin Fase 3 -->
                            <div class="hidden-lg hidden-md col-sm-2"></div>
                        </div>
                        <div class="col-lg-1 col-md-1 col-sm-1"></div>
                    </div>
                    <div class="row">
                        <div class="col-lg-1 col-md-1 hidden-sm"></div>
                        <div class="col-lg-10 col-md-10 col-sm-12">
                            <div class="col-lg-4 col-md-4 hidden-sm"></div>
                              <div class="col-lg-4 col-md-4 col-sm-12">
                                  <a href="{{ path('formularioDerechosAutor') }}" class="btn btn-block btn-primary text-center">Solicita aqu&iacute;</a>
                              </div>  
                            <div class="col-lg-4 col-md-4 hidden-sm"></div>
                        </div>
                        <div class="col-lg-1 col-md-1 hidden-sm"></div>
                    </div>
                </div>        
            </section><!-- Fin Fases -->
            <!-- Otros servicios -->
            {% include 'servicios/otrosServicios.html.twig' %}
            <!-- Fin Otros servicios -->
            <!-- Conoce mas -->
            {% include 'servicios/conoceMas.html.twig' %}
            <!-- Fin Conoce mas -->
            <!-- Preguntas Frecuentes -->
            {% include 'servicios/preguntasFrecuentes.html.twig' %}
            <!-- Fin Preguntas Frecuentes -->
            <!-- Seccion Texto -->
            {% include 'servicios/texto.html.twig' %}
            <!-- Fin Seccion Texto --> 
        </main><!-- Fin contenido -->
        {% include 'servicios/pie.html.twig' %}
    </div>
{% endblock %}
{% block javascripts %}
    {{ parent() }}
    <script>
        $(document).ready( function(){
            document.getElementById("menu1").removeAttribute("class");
            document.getElementById("menu3").setAttribute("class","dropdown active");
            sessionStorage.clear();
        })
    </script>
{% endblock %}

