{# Plantilla del mensaje para el formulario de asesorias con el IMPI #}
<H1>DATOS DE CONTACTO: </H1>
<p>Nombre completo: {{contacto.nombre|e}}</p>
<p>E-mail: {{contacto.correo|e}}</p> 
<p>Tel&eacute;fono fijo: {{contacto.telefono|e}}</p>
<p>Tel&eacute;fono celular: {{contacto.telefonoMovil|e}}</p>
<p>Asunto ó Caso: {{asesoria.asunto|e}}</p>
<p>Detalles del caso: {{asesoria.descripcion|e}}</p>
<H3>DOMICILIO DEL AUTOR O COLABORADOR DE LA OBRA</H3>
<p>Calle o Avenida: {{domicilio.calle|e}}</p>
<p>N&uacute;mero: {{domicilio.numero|e}}</p>
<p>Municipio o delegaci&oacute;n: {{domicilio.municipio|e}}</p>
<p>Ciudad o Poblaci&oacute;n: {{domicilio.ciudad|e}}</p>                        
<p>Estado: {{domicilio.estado|e}}</p>
<p>Pa&iacute;s: {{domicilio.pais|e}}</p>                        
<p>C&oacute;digo postal: {{domicilio.codigoPostal|e}}</p>
<H3>OTROS DATOS DE CONTACTO TELÉFONOS Y CORREO ELECTRONICO</H3>
<p>Tel&eacute;fono Domicilio: {{contacto.telefonoDomicilio|e}}</p>
<p>Tel&eacute;fono Oficina: {{contacto.telefonoOficina|e}}</p>
<p>Tel&eacute;fono m&oacute;vil: {{contacto.telefonoMovil2|e}}</p>
<p>Fax: {{contacto.fax|e}}</p>
<p>E-mail: {{contacto.correo2|e}}</p>
<H3>DATOS DE FACTURACION</H3>
<p>Nombre Completo o razón social: {{facturacion.razonSocial|e}}</p>
<p>RFC: {{facturacion.RFC|e}}</p>
<p>Domicilio Fiscal completo: {{facturacion.domicilio|e}}</p>
<p>Código Postal: {{facturacion.codigoPostal|e}}</p>
