{# Mensaje de correo al contacto #}
<p>El usuario: {{nombre|e}}, desea informaci&oacute;n sobre: <strong>{{asunto|e}}
    </strong>. El correo de contacto es: {{correo|e}} y su tel&eacute;fono fijo es: 
    {{telefono|e}}, el movil es: {{telefonoMovil|e}}.</p>
<p>Mensaje: {{mensaje|e}}</p>
<p>Correo emitido de la sección de contacto. URL: http://marcandur.com.mx/Contacto.html 
</p>
